/target/
/build/
/_build/
/builddir/
/build-aux/app
/build-aux/.flatpak-builder/
/src/config.rs
*.ui.in~
*.ui~
/po/__pycache__/
/.flatpak/
/vendor
/.vscode
/subprojects/blueprint-compiler
.flatpak-builder/
*.po~
.fusion
.pi
fusion.db
fusion.db-wal
fusion.db-shm
